@import 'theming';

:host {
  display: contents;
}

$cell-size: 100px;
.game-cell {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $accent;
  width: $cell-size;
  height: $cell-size;
  cursor: pointer;
  &--win {
    background-color: $warn;
  }

  .icon {
    width: 100%;
    height: 100%;
    font-size: 7em;
    color: white;
  }
}
