@import 'theming';

.game-title {
  text-align: center;
  background-color: $primary;
  color: white;
  padding: 20px;
  box-shadow: 0 3px 4px -2px #2a2a2a;
}

.game-notifier {
  text-align: center;
  background-color: $primary;
  border-radius: 20px;
  width: fit-content;
  margin: 40px auto 0;
  color: white;
  padding: 10px 60px;
  &--win {
    background-color: $warn;
  }
  &--tie {
    background-color: $orange;
  }
}

.board {
  display: block;
  margin: 45px auto;
}

.actions {
  text-align: center;
}
